.contenedorMain {
    display: flex;
    flex-direction: row; 
    gap: 1rem;           
    align-items: stretch; 
    width: 100%;  
    margin: 0 auto;
}

.columnaPortada {
    flex: 5;           
    display: flex;  
         
}

.columnaPortada :global(.container) { 
    height: 100%;       
    width: 100%;
}

.columnaCampos {
    flex: 1;             
    display: flex;
    flex-direction: column;
    gap: 15px;
}