.libroCard {
    background-color: #a69697;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    transition: transform 0.3s ease;
}

.libroCard:hover {
    transform: translateY(-5px);
}

/* El contenedor blanco para la imagen */
.contenedorImagen {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    height: 200px;
}

.libroImage {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.libroTitulo {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.libroAutor {
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 0.9;
}