
.contenedorDoble {
    /* --- COMPORTAMIENTO --- */
    display: flex;
    flex-direction: row;    /* Fuerza a los hijos a estar uno al lado del otro */
    width: 100%;            /* Ocupa el mismo ancho que los campos de arriba */
    
    /* --- ESPACIADO --- */
    gap: 0.8rem;            
}

.contenedorDoble > * {
    flex: 1;                /* Se reparten el 50% del espacio cada uno */
}

.textoLogin {
    /* --- ESTÉTICA --- */
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
    
    /* --- COMPORTAMIENTO --- */
    text-align: center;
    
    /* --- ESPACIADO --- */
    margin-top: 0.5rem;      
}

