/* movil */
.contenedorFooter {
    background-color:  #63a26c; 
    color: white;
    padding: 1.5rem 1.5rem;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.pie {
  display: flex;
  flex-direction: column; /* apila los contenedores verticalmente */
  gap: 1rem;          
  padding: 1.5rem 2rem;
  
}

.incidencia a {
    color: #ffffff !important;
    font-weight: 1000 !important;
}

.incidencia a::after {
    background-color: #ffffff !important; 
}

.incidencia a:hover {
    color: #f0f0f0 !important; 
}

.informacion p, .incidencia p {
  margin-bottom: 0.5rem; 
}

.incidencia .enlaces:hover::after {
    background-color: #f0f0f0 !important;
}


.equipo ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* dos columnas */
  gap: 10px;
  list-style: none;
  padding: 0;
}

.equipo li {
  font-size: 0.9rem;
}

/* pantallas medianas */
@media (min-width: 768px) {
  .pie {
    flex-direction: row;    /* cambiar a horizontal */
    justify-content: space-between; /* separar los bloques a los extremos */
    align-items: flex-start;
    padding: 40px 80px;
  }

  .informacion, .incidencia {
    flex: 1;                /* ambos ocupen el mismo espacio */
    max-width: 45%;         /* evitar que se peguen al centro */
  }
}

.elemento {
    cursor: pointer;
    font-weight: 500;
}

.elemento:hover {
    text-decoration: underline;
}

.boton {
    background: #63A26C;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

.boton:hover {
    background-color: #4caf50;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
