.contenedorMain {
    padding: 1.5rem 0;
    background-image: url("../../../public/subirLibroAlternativa.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

@media (min-width: 1024px) {
    .contenedorMain{

    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    }
}