.main {
  width: 100%;
  min-height: 100vh;
}

.contenedorInfo {
display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1; /* Por debajo del z-index 100 del header */
  width: 100%;
  min-height: 100vh;
  
  /* IMPORTANTE: El padding-top debe ser igual o mayor 
     a la altura del header para que el Hero no empiece tapado */
  padding-top: 5rem; 
  padding-bottom: 3%;
  
  /* Tus propiedades originales de diseño */
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px) brightness(1.2);
  -webkit-backdrop-filter: blur(12px);
  
  /* Asegura que el scroll ocurra de forma natural */
  overflow-y: auto;
  gap: 2rem;
}

.contenedorImg {
background-image: 
  linear-gradient(to bottom, transparent 90%, white 100%), 
   url('/imagen-home.jpg');
    background-position: 30%;
    background-size: cover;
    background-repeat: no-repeat;
  width: 90%;
  height: 30vh;
  margin: 0.5rem auto;
  display: block;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.contenedorImg2 {
background-image: 
  linear-gradient(to bottom, transparent 90%, white 100%), 
   url('/genteLeyendo.jpg');
    background-position: 20%;
    background-size: cover;
    background-repeat: no-repeat;
  width: 90%;
  height: 30vh;
  margin: 0.5rem auto;
  display: block;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.texto {
    box-sizing: border-box; 
    text-align: center;
    padding: 0 1.5rem;
    width: 100%;
    font-size: 1.2rem;
}

.titulo {
    color: #4A4A4A;
    font-size: 1.8rem;    
    font-weight: 980;      
    width: 100%;                  
    line-height: 1.1;   
    text-align: center;
}

.contenedorCards {
    display: flex;
    flex-direction: column; /* movil: lista vertical */
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;

}

/* pantallas medianas */
@media (min-width: 600px) {

    .texto {
        font-size: 1.7rem;
    }

    .titulo {
    
    font-size: 3.2rem;    
    font-weight: 900;      
    
}
    .contenedorImg {
        
        height: 50vh;
    }

     .contenedorImg2 {
        height: 50vh;
    }
    .contenedorCards {
        flex-direction: row;    /* Cards una al lado de otra */
        flex-wrap: wrap;        /* Si son 3, la tercera bajará */
        justify-content: center;
    }
}

/* pantallas ordenador */
@media (min-width: 1024px) {
 .contenedorImg {
        width: 60vw;
        height: 60vh;
        max-width: 1200px;
    }

.contenedorImg2 {
        width: 60vw;
        height: 60vh;
        max-width: 1200px;
    }
}