.contenedor {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 20px 0;
    flex-wrap: wrap;
    align-items: center;
}

.boton {
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 12px;
}
    
.activa {
    font-weight: bold;
    background-color: #63a26c;
    color: #fff;
}