.envoltorio {
    min-height: 100vh;
    background-image: url("/imagen-fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 20px;
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedorBiblioteca {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    /* Fondo blanco traslúcido */
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.seccionBusqueda {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.cuadriculaLibros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}
