/* movil */

.boton {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;

    min-width: 140px;
    width: auto;
    height: 50px;

    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #000;
}

/* Variantes de tamaño */
.small {
    min-width: 100px;
    padding: 6px 12px;
    font-size: 1.3rem;
}

.small:not(.cerrar) {
    height: 35px;
}

.medium {
    min-width: 140px;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.large {
    min-width: 180px;
    padding: 12px 24px;
    font-size: 1.3rem;
}

/* Variantes */
.default {
    background-color: #63a26c;
}

.default:hover:not(:disabled) {
    background-color: #52925c;
    transform: translateY(3px);
    box-shadow:
        0 8px 18px rgba(0, 0, 0, 0.2),
        inset 0 1px 0 rgba(255, 255, 255, 0.9);
}

/* Si es rojo */
.red {
    background-color: #e53935;
}

.red:hover:not(:disabled) {
    background-color: #cc3328;
    transform: translateY(3px);
    box-shadow:
        0 8px 18px rgba(0, 0, 0, 0.2),
        inset 0 1px 0 rgba(255, 255, 255, 0.9);
}

/* El deshabilitado */
.disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Boton cerrar */
.cerrar {
    color: rgb(121, 121, 121);
    top: 10px;
    right: 10px;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition:
        transform 0.25s ease,
        filter 0.25s ease;
}
.cerrar:hover {
    color: #ed4f4c;
    transform: scale(1.15);
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.2));
}
