.contenedorPagina {
    background-image: url("/inicioSesion-formulario.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
   
}

.estiloForm {
   background-color: #E8DFD8cc;
   border-radius: 40px;
   padding: 3rem 2rem;
   width: 80%;
}

.contenedorLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.contenedorLogo img { 
    height: 3rem;  
    width: auto;            /* Mantiene la proporción original */
    object-fit: contain; 
   
}

.textoLogin {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;      
}

@media (min-width: 600px) {
    .estiloForm {
         width: 48%;
    }
    .contenedorLogo img{
        height: 4rem;
    }
}
   
@media (min-width: 1024px) {
        .estiloForm {
         width: 58%;
    }
        .contenedorLogo img{
        height: 4.5rem;
    }

    .textoLogin {
        font-size: 1.2rem;
    }
}