.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/imagen-inicioSesion-formulario.jpg') no-repeat center center/cover;
}

.card {
  background: rgba(255, 255, 255, 0.7); /* Efecto cristal */
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: left;
}

.label {
  flex: 1;
  font-weight: bold;
  color: #333;
}

.input {
  flex: 2;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgba(220, 220, 220, 0.8);
  outline: none;
}

.button {
  background-color: #67a673; /* El verde de tu diseño */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background-color: #568d60;
}