
.formContenedor {
    background-color: rgba(255, 255, 255, 0.75); 
    backdrop-filter: blur(12px) brightness(1.2);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
             
    box-sizing: border-box;
    width: 80%;           
    margin: auto;   
    padding: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorMain {
    box-sizing: border-box;
    width: 100%;  
    margin: 0 auto;
    padding: 1.3rem;
    
    display: flex;
    flex-direction: column; 
    gap: 0.7rem;           
    align-items: center;
}

.columnaPortada {
    display: flex;
}

.columnaCampos {       
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;    
    min-width: 0;   
}


.columnaCampos input,
.columnaCampos select,
.columnaCampos button {
    width: 100%;
    box-sizing: border-box; 
    height: 2.7rem;
}

.columnaCampos textarea {
    width: 100%;
    box-sizing: border-box;
    height: 6rem; 
    resize: none; 
}


/* Pantallas medianas */
@media (min-width: 600px) {
    .formContenedor {
        width: 70%;            
        margin: 2rem auto;     
        padding: 1rem;
        border-radius: 25px;  
    }

    .contenedorMain {
        padding: 2rem;
        gap: 1rem;            
    }

    .columnaCampos {
        width: 22rem;  
        width: 100%;
        gap: 0.8rem;       
    }
}


/* Pantalla ordenador */
@media (min-width: 1024px) {
    .formContenedor {
        width: 78%;   
        padding: 1.5rem;
        margin: 4.6rem auto;
    }

    .contenedorMain {
        flex-direction: row;   
        gap: 2.5rem;           
        padding: 1.5rem;
        justify-content: center;
    }

    .columnaPortada :global(.container) { 
        height: 100%;       
        width: 100%;
    }

    .columnaCampos {   
        width: 25rem;    
        flex: 0 0 25rem;
        gap: 1.3rem;
    }

    .columnaCampos input,
    .columnaCampos select,
    .columnaCampos button {
        height: 3.2rem;
    }
}