.visor {
    width: 100%;
    overflow: hidden; /* Ocultar libros */
}

.riel {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Hace que se deslice */
}

.slide {
    min-width: calc(100% / var(--slides-to-show, 1));
}

.slide > * {
    height: 100%;
}
