.contenedorPagina {
    min-height: 100vh;
    width: 100%;
    background-image: url('/inicioSesion-formulario.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    /* Centrado del formulario */
    display: flex;
    justify-content: center;
    align-items: center;
}