.campoForm {
   background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
    color: #333;            
    font-size: 0.9rem;      
    
    /* --- COMPORTAMIENTO --- */
    width: 100%;            
    height: 2.5rem;         
    box-sizing: border-box; 
    outline: none;          
    transition: all 0.3s ease; /* Suaviza el cambio de color al hacer focus */

    /* --- ESPACIADO --- */
    padding: 0 1rem;        /* Espacio interno */
}
.campoForm::placeholder { 
    color: gray;
    font-size: 0.85rem;
 }
.campoForm:focus { 
    border-color: #63A26C; 
    box-shadow: 0 0 5px rgba(99, 162, 108, 0.3);
}